*{
    padding: 0%;
    margin: 1%;
    box-sizing: border-box;
}
/** font-family: 'Montserrat', sans-serif;
font-family: 'Prompt', sans-serif; 
font-family: 'Silkscreen', cursive;
**/
body img{
    width: 100%;
    display: flex;
    opacity: 0.9;
}
body header h1 {
    font-family: 'Prompt', sans-serif;
    color: black;
    font-size: 40px; 
    text-align: center;
}
header{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
header nav div ul li{
    list-style-type:none;
    justify-content: center;
    text-decoration: none;
}

header nav div ul{
    display: flex;
    justify-content: center;
}


header .wpp{
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 50px;
}
main h2 {
    color: rgb(166, 139, 192);
    text-align: center;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}
header nav div a{
    font-family: 'Silkscreen', cursive;
    background-color: rgba(179, 117, 117, 0.64);
    border-radius: 10px;
    font-size: 20px;
    color: black;
}
main form {
    background-color:rgb(151, 163, 125);
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    
}
table tr {
    background-color:black;
    font-family: 'Montserrat', sans-serif;
}
.detailsPractica {
    color: rgb(227, 7, 227);
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}
.queHacemos{ 
    color:brown;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;

}
.comoLoHacemos{ 
    color:rgb(6, 4, 130) ;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;

}
.armaTuPresupuesto{
    color: cadetblue;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;

}
.quienesSomos {
    color:rgb(22, 70, 38);
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}
footer{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}
body{
    background-image: url("../img/carton-blanco-arrugado_95678-119.jpg");
}
.pQuienesSomos,ul{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 20px;
}
main p ,details{
    font-size: 20px;
}
li, p{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}
header{
    background-color: rgba(169, 169, 169, 0.516) ;
    border-radius: 25px;
}
header video{
    max-height: 600px;
}
header .mxgp{
    font-family: 'Silkscreen', cursive;
    color: rgb(43, 0, 43);
}

main .comoLoHacemosText ul li{
    text-align: left;
}